{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewportt" content="width=device-width, initial-scale=1.0">
    <title>Milliondots</title>

    <link rel="stylesheet" href="{% static 'admin_temp/assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'admin_temp/assets/vendors/chartjs/Chart.min.css' %}">

    <link rel="stylesheet" href="{% static 'admin_temp/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'admin_temp/assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'admin_temp/assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                <img src="{% static 'admin_temp/assets/images/logo.png' %}" alt="" srcset="">

                </div>
                <div class="sidebar-menu">
                    <ul class="menu">


                        <li class='sidebar-title'>Main Menu</li>



                        <li class="sidebar-item active ">
                            <a href="/stock/admin_hom" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>HOME</span>
                            </a>
                        </li>




                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>COURSE</span>
                            </a>
                            <ul class="submenu ">
                                <li>
                                    <a href="/stock/admin_add_course_post/">ADD</a>
                                </li>
                                <li>
                                    <a href="/stock/admin_view_course/">VIEW</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>BATCH</span>
                            </a>
                            <ul class="submenu ">
                                <li>
                                    <a href="/stock/admin_add_batch_post/">ADD</a>
                                </li>
                                <li>
                                    <a href="/stock/admin_view_batch/">VIEW</a>
                                </li>
                            </ul>

                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>FACULTY</span>
                            </a>
                            <ul class="submenu ">
                                <li>
                                    <a href="/stock/admin_add_faculty_post/">ADD</a>
                                </li>
                                <li>
                                    <a href="/stock/admin_view_faculty/">VIEW</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  ">
                            <a href="/stock/admin_batch_assignn/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>BATCH ASSIGN </span>
                            </a>

                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>STUDENT</span>
                            </a>
                            <ul class="submenu ">
                                <li>
                                    <a href="/stock/admin_add_student_post/">ADD</a>
                                </li>
                                <li>
                                    <a href="/stock/admin_view_student/">VIEW</a>
                                </li>
                            </ul>

                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>CAREER</span>
                            </a>
                            <ul class="submenu ">
                                <li>
                                    <a href="/stock/admin_add_career_post/">ADD</a>
                                </li>
                                <li>
                                    <a href="/stock/admin_view_career/">VIEW</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>SALARY</span>
                            </a>
                            <ul class="submenu ">

                                <li>
                                    <a href="/stock/admin_view_salary/">VIEW</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="triangle" width="20"></i>
                                <span>ATTENDANCE</span>
                            </a>
                            <ul class="submenu ">

                                <li>
                                    <a href="/stock/admin_add_faculty_attendence/">ADD</a>
                                </li>
                                 <li>
                                    <a href="/stock/admin_view_attendence/">VIEW</a>
                                </li>
                            </ul>

                        </li>
























                        <li class="sidebar-item  ">
                            <a href="/stock/admin_view_career_applicant/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>CAREER APPLICANTS </span>
                            </a>

                        </li>

                         <li class="sidebar-item  ">
                            <a href="/stock/admin_view_archievment/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>STUDENT ACHIEVEMENTS </span>
                            </a>
                        </li>

                         <li class="sidebar-item  ">
                            <a href="/stock/admin_view_review/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>REVIEWS </span>
                            </a>
                        </li>


                        <li class="sidebar-item  ">
                            <a href="/stock/admin_view_enquery/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>ENQUIRY </span>
                            </a>
                        </li>



                        <li class="sidebar-item  ">
                            <a href="/stock/" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>LOGOUT </span>
                            </a>
                        </li>



                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown nav-icon">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="bell"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                                <h6 class='py-2 px-4'>Notifications</h6>
                                <ul class="list-group rounded-none">
                                    <li class="list-group-item border-0 align-items-start">
                                        <div class="avatar bg-success me-3">
                                            <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
                                        </div>
                                        <div>
                                            <h6 class='text-bold'>New Order</h6>
                                            <p class='text-xs'>
                                                An order made by Ahmad Saugi for product Samsung Galaxy S69
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown nav-icon me-2">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="mail"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="{% static 'admin_temp/assets/images/avatar/avatar-s-1.png' %}" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, Admin</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main-content container-fluid">
                <div class="page-title">
{#                    <h3>Dashboard</h3>#}
                    <p class="text-subtitle text-muted"></p>
                </div>
                <section class="section">

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            {% block body %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>


        </div>
    </div>
    <script src="{% static 'admin_temp/assets/js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'admin_temp/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin_temp/assets/js/app.js' %}"></script>

    <script src="{% static 'admin_temp/assets/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'admin_temp/assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'admin_temp/assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'admin_temp/assets/js/main.js'%}"></script>
</body>

</html>