{% extends "admin_index.html" %}
{% block body %}
<h1 align="center">ADD COURSE</h1>
<form id="form1" name="form1" method="post" action="/stock/admin_add_course_post/">
    {% csrf_token %}
  <table class="table table-bordered"  >
    <tr>
      <th>COURSE NAME </th>
      <td >
        <input type="text" name="textfield" class="form-control" />
    </td>
    </tr>
    <tr>
      <th> DESCRIPTION</th>
      <td>
        <textarea name="textarea" class="form-control" ></textarea>
      </td>
    </tr>
    <tr>
      <th>DURATION</th>
      <td>
        <input type="text" name="textfield2"  class="form-control"/>
      </td>
    </tr>
      <tr>
      <th>FEE</th>
      <td>
        <input type="text" name="textfield3"  class="form-control"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" >

          <input type="submit" name="Submit" value="ADD" class="btn btn-success" />

      </td>
    </tr>
  </table>
</form>
{% endblock %}