{% extends "admin_index.html" %}
{% block body %}

<form action="/stock/admin_view_career_update/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <td>
        <input type="text" name="textfield" class="form-control" value="{{ c.title }}" />
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input type="text" name="textfield2" class="form-control" value="{{ c.discription }}"/>
      </td>
    </tr>
    <tr>
      <th>File Path </th>
      <td>
        <input type="file" name="file" class="form-control" />
      </td>
    </tr>
    <tr>
      <th>Last Date </th>
      <td>
        <input type="date" name="textfield3" class="form-control" value="{{ c.lastdate }}"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
      
          <input type="submit" name="Submit" value="Update" class="btn btn-success" />
         
      </td>
    </tr>
  </table>
</form>
{% endblock %}
